_site
_posts/_draft
_posts/_archive
_archive
node_modules
.vscode
*.log
*.lock
*.sh
.DS_Store
.jekyll-cache
*/.DS_Store
*/*/.DS_Store
.vendor
.direnv
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
*.gem
Gemfile.lock
vendor_site
*.kate-swp
__Backup-Posts/*
*.kra