<div id="peritia-system-list">
    <h4>Get to know the System</h4>
    <p>Hi, If you want to learn more about the Alters look below otherwise read one of our Posts :D</p>

    <h5 class="system-roles-peritia-header">Get to know the Alters:</h5>
    <strong> ━━━━━━  ❖  ━━━━━━ </strong>

    {%- assign list_pages = site.peritia -%}

    <div id="system-roles-peritia">
        {% if list_pages.size > 0 %}
            <div class="system-roles-peritia-container">
                {%- for sub_page in list_pages -%}
                    <a href="{{ sub_page.url | prepend: site.baseurl }}" class="system-roles-peritia-box">
                        {{ sub_page.title }}
                    </a>
                {%- endfor -%}
            </div>
        {% else %}
            <div class="no-posts">
                <img src="{{ '/assets/img/sorry.png' | prepend: site.baseurl }}" alt="No posts found">
                <h1>Sorry, No posts found</h1>
            </div>
        {% endif %}
    <strong> ━━━━━━  ❖  ━━━━━━ </strong>
    </div>
</div>
