---
layout: default
---

<!-- Animated Header Section -->
<div class="animated-text">
  <img src="img/catppuccin-cat-footer.png" alt="cat-footer" />
  <div>
    <i>"IDK yet"</i>
    <p>~ Peritia</p>
    <hr class="styled-divider" />
  </div>
</div>

<!-- Main Content Section -->
<div class="container">
  <div class="row">

    <!-- Sidebar -->
    <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar-container">
      {% include short-about.html %}
      {% include friends.html %}
    </aside>
    <!-- Sidebar with System Info -->
    <aside class="Peritia-System-Info">
      {% include Peritia-System-info.html %}
    </aside>
    <!-- Featured Tags Section -->
<div class="featured-tags-row">
  {% include featured-tags.html %}
</div>
    <!-- Post List Container -->
    <main class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
      {{ content }}
    </main>

  </div>
</div>

<!-- MathJax Support (if enabled) -->
{% if site.page-mathjax %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: { equationNumbers: { autoNumber: "AMS" } },
    tex2jax: {
      inlineMath: [['$','$']],
      displayMath: [['$$','$$']],
      processEscapes: true
    }
  });
</script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
></script>
{% endif %}

</style>
